/*:first-child */

/*хм после эксперементов ... не до конца понял как но сработало )))
только на блок первых дивов )
почему с вложенностью не до конца понял :D
но на первый блок с div ... > div .... работает :D */
div{
    border:  1px;
    padding:  4px 4px 4px 4px;
}
body > div:first-child{
    background-color: #00b7c9;
}
body > div:first-child>div { background-color: #008c9c; }
body > div:first-child>div >div { background-color: #006d7b; }
body > div:first-child>div >div > div{ background-color: #00525f; }
body > div:first-child>div >div > div > div {
    background-color: #003a40;
    color: #f2a131;
    text-shadow: 0px 0px 10px #caff3d;
    font-weight: 600;
    text-align: center;
}

body>div:last-of-type{
    width: 200px;
    transition: 3s linear;
    background-color: #ffd811;
}
body>div:last-of-type>div {
    background-color: #ffa210;
}
body > div:last-of-type > div > div { background-color: #d28410; }
body > div:last-of-type > div >div > div{ background-color: #865508; }
body > div:last-of-type > div >div > div > div {
    transition: background-color 3s cubic-bezier(0.1, 0.8, 0.5, 2), color 3s 1s linear;
    text-shadow: 0px 0px 10px #caff3d;
    background-color: #814700;
    font-weight: 600;
    text-align: center;
}
body > div:last-of-type:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


ul.menu  {
    border: 1px solid #d83838;
}
.menu {
    list-style-type: cjk-ideographic;
    width: 200px;
    background: rgba(0, 140, 156, 0.1);
    padding-left: 27px;
}
.menu li {
    margin-bottom: 3px;
    zoom: 1;
    color:  #f23131;
    font-weight: bold;
}
.menu li a {
    display: block;
    color:#f2a131;
    position: relative;
    font-weight: lighter;
    padding: 1px 2px;
}
.menu li a:hover {
    font-weight: bolder;
    background: #00b7c9;
    color: #fff;
}
.menu li a:visited{
    color: #2e00ff;
}
.menu li:nth-child(2n+2) {
    background:  rgba(0, 140, 156, 0.1);
}


.hw2_ul { list-style-type: none; }
.hw2_ul li a{ text-decoration: none; }
.hw2_ul li:nth-child(1){
    font-size: 20px;
    font-weight: 900;
    border-bottom: double 4px #f23131;
    text-align: center;
}
.hw2_ul li:nth-child(2)  {
    padding-bottom: 3px;
}
.hw2_ul li:nth-child(2) a {
    border-bottom: dotted 4px;
}
.hw2_ul li:nth-child(7) a {
    border-bottom: dashed 1px;
}
body div header h1 a img{
    width: 100px;
    height: 100px;
}
body div:first-child  header + main section article{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
body div:first-child header + main + footer address + span{
    text-align: left;
    text-decoration:line-through;
}
body div:first-child header + main + footer address{
    text-align: right;
}
body div:first-child  header h1 a{
    font-size: 14px;
    text-shadow: 0px 0px 10px #caff3d;
    color: #88540c;
}
header{
    text-align: center;
}

thead {
    font-weight: bold;
    color: #ffc7b9;
    background-color: #003a40;
    border-color: #00b7c9;
}
tbody{
     text-align: left;
 }

table { width: 100%}
tbody tr:nth-child(2n+2){
    color: #741d05;
    background: #00d7ec;
}
tbody tr:nth-child(2n+1){
    color:#00b7c9;
    background: #006d7b;
}

th{ width: 33%; } /* мне влом задвать каждому размер ..  */
th:nth-child(1){ width: 20px; } /* но получается пропорции так ломаются */
th:last-child{ width: 50px; } /* бред какой то... но работает нооооо как правильно */

tbody tr:hover {
    color: #00d5e9;
    background: #002b30;
    font-weight: bold;
}
/*td:nth-last-child(1){*/
td:nth-child(5){
    text-align: right;
}
