<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<title>GPS - Трекер</title>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<center> dir list:<b> <%= dir %> </b></center>
    <div class="col-md-4"><a href=/>в корень</a><br><hr><a href=#>как я до этого долшел</a><br><a href=#>как это работает</a><br><a href=#>оборудоание</a></div>
    <div class="col-md-8">Click and see the thumbnail or view the selected video:
        <ul>
            <% for(var i=0; i<ls_dir.length; i++) { %>
            <li>
                <a href='/show_thumbnail_to_video?file=<%= dir+"/"+ls_dir[i] %>'>
			<%= ls_dir[i] %>
                </a>
            </li>
            <% } %>
        </ul>
    </div>





<% include ../partials/footer %>
<% include ../partials/scripts %>
