<% include ../partials/scripts %>

<div class="row">
        <div class="col-md-3"><!-- .col-md-3--></div>
        <div class="col-md-6">
		<div style="width:100%"  class="btn-group-vertical btn-group-lg">
		 какая то неведома ошибка
		</div>
	</div>
        <div class="col-md-3"><!-- .col-md-3--></div>
      </div>