<% include ../partials/scripts %>
<header class="head-points head-points_main">
	<div class="container">
    	<div class="row">
    		<div class="col-12">
				<div class="text-center">
					<h1>Выберите действие</h1>
				</div> 
			</div>
    	</div>
    </div>
</header>    	

<section>
	<div class="container">
	    <div class="row">		
	        <div class="col-12 offset-md-2 col-md-8">
			<button type="button" class="btn btn-choose header_text" id=shipment onclick="select('arrival')">
				<span>01</span>
		    </button>
		</div>
	        <div class="col-12 offset-md-2 col-md-8">
			<!-- <div style="width:100%"  class="btn-group-vertical btn-group-lg"> -->
			<button type="button" class="btn btn-choose" id=arrival onclick="select('shipment')">
				<span>02</span>Отгрузка
		    </button>
		</div>
	    </div>
	</div>
</section>	

<script type="text/javascript">
   function select(type) {   	    
   		location.href = '/sel_products?type='+type
   }
</script>

