<% include ../partials/scripts %>

<header class="head-points">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<a href="/" class="back">
					<img src="../../public/img/back.svg" alt="назад">
				</a>
			</div>
			<div class="col-8">
				<h1 class="">Сформированные накладные</h1>
			</div>
		</div>
	</div>
</header>

<section class="deferred-report">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<table class="table invoice-table">
					<thead>
						<th>№ п/п</th>
						<th>Дата / время</th>
						<th>От кого</th>
						<th>Кому</th>
						<th>Кол-во продукции</th>
						<th>Кол-во тары</th>
					</thead>
					<tbody>
					</tbody>
				</table>
				<hr width="50%">
				<p class="text-center">Суммарный отчет прихода / отгрузки</p>
				<table class="table invoice-table-summ-day">
					<thead>
						<th>Дата</th>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<!--<a href="#" onclick="global_invoice(); return false;">суммарный отчет прихода \ расхода</a> -->

<script>
	function show_invoice(way,date,id_store){
		window.location = "/show_invoice?id="+id_store+"&way="+way+"&datetime="+date;
	}
	function global_invoice(){
		alert("еще чуть чуть еще немного");
	}
$( document ).ready(function() {


$.ajax({
url: "/list_transaction",
type: "GET",
dataType: "json",
	data: {
		list: 1,
	},
contentType: "application/json",cache: false,timeout: 5000,
complete: function (aa) {
if (aa.status==200) {
	obj = JSON.parse(aa.responseText);
	var count = 0;
	console.log(obj)
	function add_way(way) {
		if (obj[way]) {
			Object.keys(obj[way]).map(function (val_date, key_date) {
				Object.keys(obj[way][val_date]).map(function (id_store, key_store) {
					count++;
					var from_product = "";
					var to_product = "";
					if (way == "arrival") {
						to_product = "основной склад";
						from_product = obj[way][val_date][id_store].contragent_name;
					} else {
						to_product = obj[way][val_date][id_store].contragent_name;
						from_product = "основной склад";
					}
					$('.invoice-table').append('<tr><td>' + count + '</td><td><a href="#" onclick="show_invoice(\'' + way + '\',\''+obj[way][val_date][id_store].datatime +'\',\''+id_store+'\'); return false;">' + obj[way][val_date][id_store].datatime + '</a></td><td>' + from_product + '</td><td>' + to_product + '</td><td>' + obj[way][val_date][id_store].count_product + '</td><td>' + obj[way][val_date][id_store].count_tare + '</td></tr>');
				})
			})
		}
	}
	add_way("arrival");
	add_way("shipment");
}




},
success: function (data) {
//$("#output0").val(data+" кг.");
//send_to_server_obj();
//console.log(data);
},
error: function () {
alert("ошибка перзагрузки");
}
});




	$.ajax({
		url: "/list_transaction",
		type: "GET",
		dataType: "json",
		data: {
			list: 0,
		},
		contentType: "application/json",cache: false,timeout: 5000,
		complete: function (aa) {
			if (aa.status==200) {
				obj = JSON.parse(aa.responseText);
				//console.log(obj)
				var date_array={};

				function add_way(way) {
					if (obj[way]) {
						Object.keys(obj[way]).map(function (val_date, key_date) {
							console.log("val_date",val_date)

							if ( !date_array[val_date]) {date_array[val_date]={"way":way} }
							/*
							Object.keys(obj[way][val_date]).map(function (id_product, key_store) {
								product = obj[way][val_date][id_product].descr;
								sum = obj[way][val_date][id_product].sum;
								$('.invoice-table-summ-day').append('<tr><td>' + way + '</td><td>' + val_date + '</td><td>' + product + '</td><td>' + sum + '</td><td>кг.</td></tr>');
							})*/
						})
					}
				}
				add_way("arrival");
				add_way("shipment");

				Object.keys(date_array).map( (v,k)=>{
					$('.invoice-table-summ-day').append('<tr><td><a href="/summary_report?data='+v+'">'+v+'</a></td></tr>');
				})
			}




		},
		success: function (data) {
//$("#output0").val(data+" кг.");
//send_to_server_obj();
//console.log(data);
		},
		error: function () {
			alert("ошибка перзагрузки");
		}
	});
});
</script>